body{
 background-color:#200000; 
}
#BOX{
    position: relative;

	top: 20px;
	left: 50%;

    width: 800px;
	height: 600px;

    transform: translateX(-400px);
	background-color:#800000;
	border: 1px #000000 solid;

	margin: 0px;
	padding: 0px;
}
