body{
 background-color:#ff0000; 
}
#BOX{
    position: relative;

	top: 20px;
	left: 50%;

    width: 800px;
	height: 600px;

    transform: translateX(-450px);
	background-color:#55FFFF;
	border: 1px #000000 solid;

	margin: 0px;
	padding: 0px;
}
